@import '../../SCSS/fonts';
@import '../../SCSS/resets';

.graph--container {
    width: 90%;
    margin-inline: auto;
}

.chart {
    // width: 60%;
    // height: 600px !important;
    margin-inline: auto;
}

.canvas--title {
    font-family: "Orgon-medium";
    font-size: 20px;
    width: 100%;

    text-align: center;
    margin-block: 10px;
}