@import '../../SCSS/fonts';
@import '../../SCSS/resets';

.graph--container {
    width: 90%;
    margin-inline: auto;
}

.chart {
    // width: 60%;
    // height: 600px !important;
    margin-inline: auto;
}