@import '../../SCSS/fonts';
@import '../../SCSS/resets';

@import '../../SCSS/fonts';
@import '../../SCSS/resets';

.create--form {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    input, select {
        width: 250px;
    }
}

.create--button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-family: Orgon-medium;
    font-size: 16px;
    background-color: #413961;
    color: white;
    width: 250px;
    padding: 20px 55px;
}

.challenge--input--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block: 10px;

    > label {font-family: "Orgon"; }
}

.challenge--input--checkbox {
    flex-direction: row;

    input {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
}

.create--title {
    text-align: center;
    font-family: "Galano-medium";
    font-size: 28px;
}

