@import '../../SCSS/fonts';
@import '../../SCSS/resets';

.event--wrapper {
    margin-inline: 100px;
}

.event--container {
    margin-inline: auto;

    background-color: #EBEAEC;
    border-radius: 26px;

    height: 500px;
    width: 100%;
    
    padding-block: 25px;
}
