@font-face {
    font-family: "Galano";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Regular.otf);
}

@font-face {
    font-family: "Galano-medium";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Medium.otf);
}

@font-face {
    font-family: "Galano-light";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Light.otf);
}

@font-face {
    font-family: "Galano-semibold";
    src: url(/fonts/Galano_Classsic/GalanoClassic-SemiBold.otf);
}

@font-face {
    font-family: "Galano-bold";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Bold.otf);
}

@font-face {
    font-family: "Orgon";
    src: url(/fonts/Orgon/Orgon-Regular.otf);
}

@font-face {
    font-family: "Orgon-medium";
    src: url(/fonts/Orgon/Orgon-Medium.otf);
}

@font-face {
    font-family: "Orgon-medium-italics";
    src: url(/fonts/Orgon/Orgon-MediumIt.otf);
}

@font-face {
    font-family: "Orgon-light";
    src: url(/fonts/Orgon/Orgon-Light.otf);
}

@font-face {
    font-family: "Orgon-light-italics";
    src: url(/fonts/Orgon/Orgon-LightIt.otf);
}

@font-face {
    font-family: "Orgon-thin";
    src: url(/fonts/Orgon/Orgon-Thin.otf);
}

@font-face {
    font-family: "Orgon-thin-italics";
    src: url(/fonts/Orgon/Orgon-ThinIt.otf);
}