@font-face {
    font-family: "Galano";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Regular.otf);
}

@font-face {
    font-family: "Galano-medium";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Medium.otf);
}

@font-face {
    font-family: "Galano-light";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Light.otf);
}

@font-face {
    font-family: "Galano-semibold";
    src: url(/fonts/Galano_Classsic/GalanoClassic-SemiBold.otf);
}

@font-face {
    font-family: "Galano-bold";
    src: url(/fonts/Galano_Classsic/GalanoClassic-Bold.otf);
}